:root{

--orange:#F57C00;
--black:#050505;
--white:#fff;
--grey:#aaa;

}


*{

box-sizing:border-box;

}


body{

margin:0;

padding:25px;

background:
radial-gradient(circle at top,
rgba(245,124,0,.25),
transparent 35%),
var(--black);

color:white;

font-family:Poppins,sans-serif;

}



.experience-widget{

max-width:460px;

margin:auto;

}



.hero{

text-align:center;

margin-bottom:25px;

}


.hero span{

color:var(--orange);

letter-spacing:5px;

font-size:12px;

}


h1,h2,h3{

font-family:"Bebas Neue";

letter-spacing:2px;

}



.hero p{

color:#bbb;

}




.passport-card{

background:
linear-gradient(
135deg,
#181818,
#080808
);

padding:25px;

border-radius:30px;

border:1px solid rgba(255,255,255,.1);

box-shadow:
0 25px 60px black;

}



.card-header{

display:flex;

justify-content:space-between;

}



.tag,
.level-badge{

background:rgba(245,124,0,.15);

padding:8px 15px;

border-radius:30px;

font-size:12px;

}



.tag{

color:var(--orange);

}




.member{

margin-top:30px;

border-top:1px solid #333;

padding-top:20px;

}


.member p{

color:#aaa;

font-size:12px;

}


.member h2{

font-size:30px;

margin:5px 0;

}


.member span{

color:#aaa;

}




.stats{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:12px;

margin-top:30px;

}



.stat{

background:#111;

padding:15px;

border-radius:20px;

text-align:center;

}



.stat label{

font-size:12px;

color:#aaa;

}


.stat strong{

display:block;

font-size:20px;

margin-top:10px;

}



.xp-bar{

height:7px;

background:#333;

border-radius:20px;

margin-top:12px;

overflow:hidden;

}


#xpProgress{

height:100%;

width:0%;

background:var(--orange);

transition:1s;

}



button{

width:100%;

margin-top:25px;

padding:15px;

border:none;

border-radius:30px;

background:
linear-gradient(
135deg,
#ff9800,
#F57C00
);

color:white;

font-weight:bold;

cursor:pointer;

}




#passportDetails{

display:none;

margin-top:25px;

padding:20px;

background:#111;

border-radius:25px;

}



#passportDetails.show{

display:block;

animation:open .5s;

}



@keyframes open{

from{

opacity:0;

transform:translateY(-20px);

}

to{

opacity:1;

transform:none;

}

}



.qr{

height:180px;

display:grid;

place-items:center;

background:#222;

border-radius:20px;

margin:20px 0;

}



.challenge,
.rewards{

margin-top:25px;

background:#111;

padding:20px;

border-radius:25px;

}



.challenge div,
.reward{

background:#191919;

padding:18px;

border-radius:18px;

margin-top:12px;

}



.reward{

font-weight:bold;

}
.passport-login{

display:grid;
gap:12px;
margin-bottom:20px;

}


.passport-login input{

padding:15px;
border-radius:30px;
border:1px solid rgba(255,255,255,.15);

background:#111;

color:white;

font-size:1rem;

text-align:center;

}


.passport-login button{

padding:15px;

border:none;

border-radius:30px;

background:#F57C00;

color:white;

font-weight:bold;

cursor:pointer;

}


#loginMessage{

text-align:center;

color:#c4c4c4;

font-size:.9rem;

}